[submodule "plugins/OpenSeadragonMagnifier"]
	path = plugins/OpenSeadragonMagnifier
	url = https://github.com/picturae/OpenSeadragonMagnifier.git
[submodule "plugins/OpenSeadragonScalebar"]
	path = plugins/OpenSeadragonScalebar
	url = https://github.com/usnistgov/OpenSeadragonScalebar.git
[submodule "plugins/OpenSeadragonHTMLelements"]
	path = plugins/OpenSeadragonHTMLelements
	url = https://github.com/antonioxdias/OpenSeadragonHTMLelements.git
[submodule "plugins/bookmark-url"]
	path = plugins/bookmark-url
	url = https://github.com/openseadragon/bookmark-url.git
[submodule "plugins/OpenSeadragonDraggableNavigator"]
	path = plugins/OpenSeadragonDraggableNavigator
	url = https://github.com/harshalitalele/OpenSeadragonDraggableNavigator.git
[submodule "plugins/openseadragon-flat-toolbar-icons"]
	path = plugins/openseadragon-flat-toolbar-icons
	url = https://github.com/peterthomet/openseadragon-flat-toolbar-icons.git
